################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

\.vs\ExerciciosCSharp\v15\Server\sqlite3
/bin/Debug/netcoreapp2.1
/obj/Debug/netcoreapp2.1
/.vs/ExerciciosCSharp/v15/Server/sqlite3
/exec_1000/obj
/exec_1000/bin/Debug/netcoreapp2.1
/exec_1001/bin/Debug/netcoreapp2.1
/exec_1001/obj
/Exec_1002/bin/Debug/netcoreapp2.1
/Exec_1002/obj
/Exec_1003/bin/Debug/netcoreapp2.1
/Exec_1003/obj
/Exec_1004/bin/Debug/netcoreapp2.1
/Exec_1004/obj
/Exec_1005/obj
/ExerciciosCSharp/bin/Debug/netcoreapp2.1
/ExerciciosCSharp/obj
/Exec_1006/obj
/Exec_1005/bin/Debug/netcoreapp2.1
/Exec_1006/bin/Debug/netcoreapp2.1
/Exec_1007/obj
/Exec_1007/bin/Debug/netcoreapp2.1
/Exec_1008/obj
/Exec_1008/bin/Debug/netcoreapp2.1
/Exec_1009/obj
/Exec_1010/obj
/Exec_1009/bin/Debug/netcoreapp2.1
/.vs/ExerciciosCSharp/DesignTimeBuild
/Exec_1010/bin/Debug/netcoreapp2.1
/Exec_1011/bin/Debug
/Exec_1011/obj/Debug
/Exec_1011/obj/Release
/Exec_1012/obj
/Exec_1013/obj
/Exec_1012/bin/Debug
/Exec_1014/obj
/Exec_1014/bin/Debug
/Exec_1015/obj
/Exec_1015/bin/Debug
/Exec_1016/obj
/Exec_1016/bin/Debug
/Exec_1017/obj
/Exec_1017/bin/Debug
/Exec_1018/obj
/Exec_1018/bin/Debug
/Exec_1019/obj
/Exec_1019/bin/Debug
/Exec_1020/obj
/Exec_1020/bin/Debug
/Exec_1021/obj
/Exec_1021/bin/Debug
/Exec_1022/obj
/Exec_1035/obj
/Exec_1035/bin/Debug
/Exec_1036/obj
/Exec_1000/Properties/AssemblyInfo.cs
/Exec_1037/bin/Debug
/Exec_1036/bin/Debug
/Exec_1037/obj
/Exec_1038/obj
/Exec_1038/bin/Debug
/Exec_1040/obj
/Exec_1040/bin/Debug
/Exec_1041/obj
/Exec_1041/bin/Debug
/Exec_1042/obj
/Exec_1042/bin/Debug
/Exec_1043/obj/Debug
/Exec_1043/bin/Debug
/Exec_1044/obj/Debug
/Exec_1044/bin/Debug
/Exec_1045/obj/Debug
/Exec_1045/bin/Debug
/Exec_1046/obj/Debug
/Exec_1047/obj/Debug
/Exec_1046/bin/Debug
/Exec_1047/bin/Debug
/Exec_1048/obj/Debug
/Exec_1048/bin/Debug
/Exec_1049/obj/Debug
/Exec_1049/bin/Debug
/Exec_1050/obj/Debug
/Exec_1050/bin/Debug
/Exec_1051/obj/Debug
/Exec_1051/bin/Debug
/Exec_1052/obj/Debug
/Exec_1052/bin/Debug
/Exec_1059/obj/Debug
/Exec_1060/obj/Debug
/Exec_1059/bin/Debug
/Exec_1060/bin/Debug
/Exec_1061/obj/Debug
/Exec_1061/bin/Debug
/Exec_1064/obj/Debug
/Exec_1064/bin/Debug
/Exec_1065/obj/Debug
/Exec_1065/bin/Debug
/Exec_1066/obj/Debug
/Exec_1066/bin/Debug
/Exec_1067/obj/Debug
/Exec_1067/bin/Debug
/Exec_1070/obj/Debug
/Exec_1070/bin/Debug
/Exec_1071/obj/Debug
/Exec_1071/bin/Debug
/Exec_1072/obj/Debug
/Exec_1073/obj/Debug
